.skills {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 70px);
    margin: 20px;
  }
 .skl{
     margin-left: 20px;
     color: rgb(255, 255, 255);
 }
.sklLine{
    position: relative;
    bottom: 8px;
    visibility: hidden;
    padding-left: 6px;
    color: rgb(255, 47, 47);
}
  .ProgWidth {
    padding: 0px 20px;
  }
  .skillDiv {
    height: 5px;
    width: 100%;
    background-color: gray;
  }
  .skillBar {
    display: block;
    height: 5px;
    background-color: rgb(204, 19, 19);
  }
  .p {
    display: flex;
    justify-content: space-between;
  }

  .htmlBar {
    width: 80%;
    animation: html 3s 1s 5 forwards;
  }
  .cssBar {
    width: 60%;
    animation: css 3s 1s 5 forwards;
  }
  .jsBar {
    width: 40%;
    animation: js 3s 1s 5 forwards;
  }
  
  .javaBar {
    width: 50%;
    animation: java 3s 1s 5 forwards;
  }
  .ccpBar {
    width: 60%;
    animation: ccp 3s 1s 5 forwards;
  }
  .pythonBar {
    width: 75%;
    animation: python 3s 1s 5 forwards;
  }
  .nodeBar {
    width: 35%;
    animation: node 3s 1s 5 forwards;
  }
  .sqlBar {
    width: 50%;
    animation: sql 3s 1s 5 forwards;
  }

  .rustBar {
    width: 25%;
    animation: rust 3s 1s 5 forwards;
  }
  
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 40%;
    }
  }
  @keyframes java {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes ccp {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
  @keyframes python {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  @keyframes node {
    0% {
      width: 0%;
    }
    100% {
      width: 35%;
    }
  }

  @keyframes sql {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }

  @keyframes rust {
    0% {
      width: 0%;
    }
    100% {
      width: 25%;
    }
  }